@charset "utf-8";
body{margin-top: 80px;}


#wrapper{width: 342px; margin:0 auto}
#mainNav li{width: 150px; height: 150px; padding: 6px; border-radius: 10px; border: 3px solid #dbdbdb; margin: 3px 3px 0; background-color: white; background-repeat: no-repeat; background-position: center center; line-height: 150px;}
#mainNav li:nth-child(2){background: url(../images/sandal2.png)}
#mainNav li:nth-child(3){background: url(../images/neck2.png)}
#mainNav li:nth-child(4){background: url(../images/bag2.png)}
#mainNav li:nth-child(5){background: url(../images/top2.png)}
#mainNav li:nth-child(6){background: url(../images/dress2.png)}
#mainNav li:nth-child(7){background: url(../images/bottom2.png)}
#mainNav li:nth-child(3n){margin-right: 0;}
#mainNav li a{font-size: 1.2em;}


[{(width=90)+(padding*2=12)+(border*2=6)+(margin*2=6)}x3]