@charset "utf-8"
*{margin: 0; padding: 0;}
body{}
ul,li{list-style:none;}
a{ color: black; text-decoration: none;}
.nav{width: 80%; height: 50px; background: tomato; margin: 0 auto; padding: 7px;}
.nav>li{width: 200px; float: left; position:relative; overflow: hidden;}
.nav>li:hover>ul{display: block;}
.nav>li>a{display: block;  margin: 10px 20px 18px 20px; text-align: center; padding: 10px;}
.nav>li>a:hover{background: blue; color: white;}
.nav>li>ul{ display: none; text-align: center; background: yellow;}
.nav>li>ul a:hover{background: black; color: #666;}
.nav>li>ul>li{}
.nav>li>ul>li>a{display: block; background: violet; ; padding: 10px 0; }
.box{width: 80%; height: 700px; background: cornflowerblue; margin: 0 auto; padding: 7px;}
